<app-header></app-header>
<div class="listHeader">
    Item Edit
</div>
<div class="editForm">

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <p class="title">
            <label for="title" id="titleLabel">Title: </label>
            <input type="text" id="title" name="title" formControlName="title">
        </p>
        <div class="info">
            <div class="detailData">
                <p>
                    <label for="done">Done </label>
                    <input type="checkbox" id="done" name="done" formControlName="done">
                </p>
                <p>
                    <label for="isproject">Project? </label>
                    <input type="checkbox" id="isproject" name="isproject" formControlName="isproject" [(ngModel)]="disableParent" (change)="checkProject()">
                </p>
                <p [hidden]="">
                    <label for="parent">Parent? </label>
                    <select formControlName="parent">
                        <option *ngFor="let parent of parents" [value]="parent.id" >{{parent.title}}</option>
                    </select>
                </p>
                <p>
                    <label for="when">When </label>
                    <input type="text" id="when" name="when" formControlName="when">
                </p>
                <p>
                    <label for="deadline">Deadline </label>
                    <input type="text" id="deadline" name="deadline" formControlName="deadline">
                </p>
            </div>
            <div class="divDetails">

                <p>
                    <label for="details" class="labelDetails">Details </label>
                    <textarea type="text" id="details" name="details" formControlName="details">
                    </textarea>
                </p>
            </div>
            
        
        </div>
        <p>
            <button type="submit">Save</button>
            <button (click)="onCancel()">Cancel</button>
        </p>
    </form>
</div>
<app-footer></app-footer>